@model DescartesDB.Models.Employer

@{
    ViewData["Title"] = "Modifier";
}

<h1>Modifier</h1>

<h4>Employer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ModifierAction" asp-controller="Livre" method="post">
             <div class="form-group">
                <label asp-for="RefEmployer" ></label>
                <input asp-for="RefEmployer"/>                
            </div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />@Model.Numero
                
            </div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />@Model.Prenom                
            </div>
            <div class="form-group">
                <label asp-for="Prenom" class="control-label"></label>
                <input asp-for="Prenom" class="form-control" />@Model.Prenom                
            </div>
            <div class="form-group">
                <label asp-for="DateEmbouche" class="control-label"></label>
                <input asp-for="DateEmbouche" class="form-control" />@Model.DateEmbouche               
            </div>
            <div class="form-group">
                <label asp-for="Salaire" class="control-label"></label>
                <input asp-for="Salaire" class="form-control" />@Model.Salaire               
            </div>
            <div class="form-group">
                <label asp-for="Adresse" class="control-label"></label>
                <input asp-for="Adresse" class="form-control" />@Model.Adresse               
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />@Model.Password              
            </div>
            <div class="form-group">
                <label asp-for="TypeEmployer" class="control-label"></label>
                <input asp-for="TypeEmployer" class="form-control" />@Model.TypeEmployer                
            </div>
            <div class="form-group">
                <label asp-for="Telephone" class="control-label"></label>
                <input asp-for="Telephone" class="form-control" />@Model.Telephone               
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />@Model.Email               
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

